[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
dailydose = {editable = true, path = "."}
english-words = "*"
flake8 = "*"
bs4 = "*"
beautifulsoup4 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
